@import url('https://fonts.googleapis.com/css2?family=Mohave&family=Raleway:wght@100&display=swap');

p{
    font-weight: 20px;
    padding: 0.5;
    font-size: 1.2rem;
}

button{
    font-size: 1rem;
}

.alert{
    font-weight: bold;
}